.ngx-charts-outer .ngx-charts {
    margin-top: 10px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.gauge .gauge-tick path {
    stroke: #003665 !important;
}

.center {
    text-align: center;
}

.header-wid {
    width: 100% !important
}

.grid-font {
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.column {
    width: 100px;
}

.cell {
    width: 25%;
}

clr-dg-column {
    text-align: center !important;
}

.filterArea{
    text-align: left !important;
    height: fit-content;
    align-self: auto;

    vertical-align: bottom;
}
.area{
    margin-top: 25px;
    left: 0%;
}

.gauge{
    margin-left: 0.1%; 
}

.col2{
    width: 19.8%;
}


