<clr-header>
  <div class="branding">
    <a class="nav-link">
      <clr-icon shape="dashboard" size="24"></clr-icon>
      <span class="title">MUF Dashboard</span>
    </a>
  </div>
  <div class="header-nav">
    <clr-dropdown class="col-md-10">
      <button class="nav-icon" clrDropdownTrigger>
        <a href="javascript://" class="nav-link nav-text">Dashboard</a>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom">
        <a href="javascript://" clrDropdownItem [routerLink]="['collection']" routerLinkActive="router-link-active" >Dashboard Collection</a>
        <a href="javascript://" clrDropdownItem [routerLink]="['marketing']" routerLinkActive="router-link-active" >Dashboard Marketing</a>
        <!-- <a href="javascript://" clrDropdownItem [routerLink]="['recovery']" routerLinkActive="router-link-active" >Dashboard Recovery</a>
        <a href="javascript://" clrDropdownItem [routerLink]="['inventory']" routerLinkActive="router-link-active" >Dashboard Inventory Management</a>
        <a href="javascript://" clrDropdownItem [routerLink]="['proyeksi']" routerLinkActive="router-link-active" >Dashboard Proyeksi: 6 Bulan</a> -->
      </clr-dropdown-menu>
    </clr-dropdown>
    <!-- <clr-dropdown class="col-md-10">
      <button class="nav-icon" clrDropdownTrigger>
        <a href="javascript://" class="nav-link nav-text">Report</a>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom">
        <a href="javascript://" clrDropdownItem>About</a>
      </clr-dropdown-menu>
    </clr-dropdown> -->
    <clr-dropdown class="col-md-10">
      <button class="nav-icon" clrDropdownTrigger type="buttton" (click)="logout()">
        <span style="color:white">Logout</span>
      </button>
    </clr-dropdown>
  </div>
  <div class="header-actions">
  </div>
</clr-header>