<!-- <div *ngIf="!f_monthly_usage && !f_application_usage && !f_menu_usage && !f_job_usage" class="loader">
  <span class="spinner spinner-lg">
    Loading...
  </span>
</div> -->
<div class="content-container">
  <main class="content-area">

    <h1 class="center">DASHBOARD RECOVERY</h1>

    <div class="card col-md-12">
      <div class="card-block">
        <form class="clr-form clr-form-compact" action="">
          <div class="row">
            <div class="row col-md-4" style="text-align: left">
              <div class="row col-md-12">
                <!-- <div class="form-group"> -->
                <div class="col-md-2">
                  <label for="" class="control-label">Area</label>
                </div>
                <div class="col-md-10">
                  <select name="area" id="area" class="form-control">
                    <option value="1">Area 1</option>
                    <option value="2">Area 2</option>
                    <option value="3">Area 3</option>
                    <option value="4">Area 4</option>
                  </select>
                </div>
                <!-- </div> -->
              </div>
              <div class="row col-md-12">
                <!-- <div class="form-group"> -->
                <div class="col-md-2">
                  <label for="" class="control-label">Area</label>
                </div>
                <div class="col-md-10">
                  <select name="area" id="area" class="form-control">
                    <option value="1">Area 1</option>
                    <option value="2">Area 2</option>
                    <option value="3">Area 3</option>
                    <option value="4">Area 4</option>
                  </select>
                </div>
                <!-- </div> -->
              </div>
            </div>
            <div class="row col-md-4" style="text-align: left">
              <div class="row col-md-12">
                <!-- <div class="form-group"> -->
                <div class="col-md-2">
                  <label for="" class="control-label">Area</label>
                </div>
                <div class="col-md-10">
                  <select name="area" id="area" class="form-control">
                    <option value="1">Area 1</option>
                    <option value="2">Area 2</option>
                    <option value="3">Area 3</option>
                    <option value="4">Area 4</option>
                  </select>
                </div>
                <!-- </div> -->
              </div>
              <div class="row col-md-12">
                <!-- <div class="form-group"> -->
                <div class="col-md-2">
                  <label for="" class="control-label">Area</label>
                </div>
                <div class="col-md-10">
                  <select name="area" id="area" class="form-control">
                    <option value="1">Area 1</option>
                    <option value="2">Area 2</option>
                    <option value="3">Area 3</option>
                    <option value="4">Area 4</option>
                  </select>
                </div>
                <!-- </div> -->
              </div>
            </div>
            <div class="row col-md-4" style="text-align: left">
              <div class="row col-md-12">
                <!-- <div class="form-group"> -->
                <div class="col-md-2">
                  <label for="" class="control-label">Area</label>
                </div>
                <div class="col-md-10">
                  <select name="area" id="area" class="form-control">
                    <option value="1">Area 1</option>
                    <option value="2">Area 2</option>
                    <option value="3">Area 3</option>
                    <option value="4">Area 4</option>
                  </select>
                </div>
                <!-- </div> -->
              </div>
              <div class="row col-md-12">
                <!-- <div class="form-group"> -->
                <div class="col-md-2">
                  <label for="" class="control-label">Area</label>
                </div>
                <div class="col-md-10">
                  <select name="area" id="area" class="form-control">
                    <option value="1">Area 1</option>
                    <option value="2">Area 2</option>
                    <option value="3">Area 3</option>
                    <option value="4">Area 4</option>
                  </select>
                </div>
                <!-- </div> -->
              </div>
            </div>
          </div>
          <br>
          <div class="row col-md-12">
            <button type="submit" class="btn btn-default">Proses</button>
          </div>

        </form>
      </div>
    </div>

    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <!-- <div class="progress top loop" max="100"><progress></progress></div> -->
            <h4 class="card-title center"></h4>

            <div class="row">
              <div class="col-md-6">
                <p class="card-text" style="width: 100% !important;">
                  By Unit
                </p>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Status</th>
                      <th>APR 2018</th>
                      <th>MAY 2018</th>
                      <th>APR VS MAY</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Repo</td>
                      <td>94</td>
                      <td>108</td>
                      <td>14.89%</td>
                    </tr>
                    <tr>
                      <td>SOLD</td>
                      <td>103</td>
                      <td>81</td>
                      <td>-21.36%</td>
                    </tr>
                    <tr>
                      <td>Lunas</td>
                      <td>12</td>
                      <td>20</td>
                      <td>66.67%</td>
                    </tr>
                    <tr>
                      <td>WO</td>
                      <td>20263</td>
                      <td>1756</td>
                      <td>-13.33%</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6">
                <p class="card-text" style="width: 100% !important;">
                  By Amount
                </p>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Status</th>
                      <th>APR 2018</th>
                      <th>MAY 2018</th>
                      <th>APR VS MAY</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Repo</td>
                      <td>1.553.241.288</td>
                      <td>1.850.774.507</td>
                      <td>19.16%</td>
                    </tr>
                    <tr>
                      <td>SOLD</td>
                      <td>103</td>
                      <td>81</td>
                      <td>-21.36%</td>
                    </tr>
                    <tr>
                      <td>Lunas</td>
                      <td>12</td>
                      <td>20</td>
                      <td>66.67%</td>
                    </tr>
                    <tr>
                      <td>WO</td>
                      <td>20263</td>
                      <td>1756</td>
                      <td>-13.33%</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <!-- <div class="progress top loop" max="100"><progress></progress></div> -->
            <h4 class="card-title center"></h4>
            <p class="card-text" style="width: 25% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSourceLine1">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <!-- <div class="progress top loop" max="100"><progress></progress></div> -->
            <h4 class="card-title center"></h4>
            <p class="card-text" style="width: 25% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSourceLine2">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <!-- <div class="progress top loop" max="100"><progress></progress></div> -->
            <h4 class="card-title center"></h4>
            <p class="card-text" style="width: 25% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type2" [dataFormat]="dataFormat" [dataSource]="dataSourceLine3">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <!-- <div class="progress top loop" max="100"><progress></progress></div> -->
            <h4 class="card-title center"></h4>
            <p class="card-text" style="width: 25% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type2" [dataFormat]="dataFormat" [dataSource]="dataSourceLine4">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <!-- <div class="progress top loop" max="100"><progress></progress></div> -->
            <h4 class="card-title center"></h4>
            <p class="card-text" style="width: 25% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type2" [dataFormat]="dataFormat" [dataSource]="dataSourceLine5">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <!-- <div class="progress top loop" max="100"><progress></progress></div> -->
            <h4 class="card-title center"></h4>
            <p class="card-text" style="width: 25% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type2" [dataFormat]="dataFormat" [dataSource]="dataSourceLine6">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <!-- <div class="progress top loop" max="100"><progress></progress></div> -->
            <h4 class="card-title center"></h4>
            <p class="card-text" style="width: 25% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type3" [dataFormat]="dataFormat" [dataSource]="dataSourceLine7">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <!-- <div class="progress top loop" max="100"><progress></progress></div> -->
            <h4 class="card-title center"></h4>
            <p class="card-text" style="width: 25% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSourceLine8">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
  </clr-vertical-nav>
</div>