<!-- <div *ngIf="!f_monthly_usage && !f_application_usage && !f_menu_usage && !f_job_usage" class="loader">
  <span class="spinner spinner-lg">
    Loading...
  </span>
</div> -->
<div class="content-container">
  <main class="content-area">

    <!-- <h1 class="center">DASHBOARD RECOVERY</h1> -->

    <!-- <div class="row row1">

        <div class="col-md-4">
          <div class="card">
            <div class="card-block">
              <div class="row filterArea center">
                <div class="col-sm-3 area">
                  <span>Area</span>
                </div>
                <div class="col-sm-5 ">
                  <select clrSelect name="options" [(ngModel)]="area" [disabled]="areaDisable">
                    <option *ngFor="let e of areaList" [ngValue]="e.branch_code">{{e.branch_name}}</option>
                  </select>
                </div>
              </div>
              <div class="row filterArea center">
                <div class="col-sm-3 area">
                  <span>CABANG</span>
                </div>
                <div class="col-sm-5 ">
                  <select clrSelect name="options" [(ngModel)]="cabang" [disabled]="disable2">
                    <option *ngFor="let b of list_branch" [ngValue]="b.branch_code">{{b.branch_name}}</option>
  
                  </select>
                </div>
              </div>
              <div class="row filterArea center">
                <div class="col-sm-3 area">
                  <span>MUFNET</span>
                </div>
                <div class="col-sm-5 ">
                  <select clrSelect name="options" [(ngModel)]="mufnet" [disabled]="true">
                    <option value="one">One</option>
                    <option value="two">Two</option>
                    <option value="three">Three</option>
                  </select>
                </div>
              </div>
  
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card">
            <div class="card-block">
              <div class="row filterArea center">
                <div class="col-sm-6 area">
                  <span>OBJECT</span>
                </div>
                <div class="col-sm-3 ">
                  <select clrSelect name="options" [(ngModel)]="object" (ngModelChange)="filterObject($event)">
                    <option *ngFor="let o of object_list" [ngValue]="o">{{o}}</option>
                  </select>
                </div>
  
              </div>
              <div class="row filterArea center">
                <div class="col-sm-6 area">
                  <span>PRODUCT</span>
                </div>
                <div class="col-sm-3 ">
                  <select clrSelect name="options" [(ngModel)]="p_product" (ngModelChange)="filterGolProduct($event)">
                    <option *ngFor="let pp of penggolongan_product_list" [ngValue]="pp">{{pp}}</option>
                  </select>
                </div>
              </div>
              <div class="row filterArea center">
                <div class="col-sm-6 area">
                  <span>PORTOFOLIO</span>
                </div>
                <div class="col-sm-3 ">
                  <select clrSelect name="options" [(ngModel)]="portofolio">
                    <option *ngFor="let p of portofolio_list" [ngValue]="p">{{p}}</option>
  
                  </select>
                </div>
                <div class="col-sm-3 btn-proses">
                  <button type="button" class="btn btn-primary" (click)="onClickSubmit()"> PROSES </button>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-3 titleCol">
            <div class="card carding">
              <div class="card-block cardblok1">
                <div class="row filterArea center">
                  <h4 class="center">MONTHLY RECOVERY DASHBOARD</h4>
                </div>
    
              </div>
            </div>
          </div>
  
      </div> -->

    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <!-- <div class="progress top loop" max="100"><progress></progress></div> -->
            <h4 class="card-title center"></h4>

            <div class="row">
              <div class="col-md-6">
                <p class="card-text" style="width: 100% !important;">
                  By Unit
                </p>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Status</th>
                      <th>APR 2018</th>
                      <th>MAY 2018</th>
                      <th>APR VS MAY</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Repo</td>
                      <td>94</td>
                      <td>108</td>
                      <td>14.89%</td>
                    </tr>
                    <tr>
                      <td>SOLD</td>
                      <td>103</td>
                      <td>81</td>
                      <td>-21.36%</td>
                    </tr>
                    <tr>
                      <td>Lunas</td>
                      <td>12</td>
                      <td>20</td>
                      <td>66.67%</td>
                    </tr>
                    <tr>
                      <td>WO</td>
                      <td>20263</td>
                      <td>1756</td>
                      <td>-13.33%</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6">
                <p class="card-text" style="width: 100% !important;">
                  By Amount
                </p>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Status</th>
                      <th>APR 2018</th>
                      <th>MAY 2018</th>
                      <th>APR VS MAY</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Repo</td>
                      <td>1.553.241.288</td>
                      <td>1.850.774.507</td>
                      <td>19.16%</td>
                    </tr>
                    <tr>
                      <td>SOLD</td>
                      <td>103</td>
                      <td>81</td>
                      <td>-21.36%</td>
                    </tr>
                    <tr>
                      <td>Lunas</td>
                      <td>12</td>
                      <td>20</td>
                      <td>66.67%</td>
                    </tr>
                    <tr>
                      <td>WO</td>
                      <td>20263</td>
                      <td>1756</td>
                      <td>-13.33%</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <!-- <div class="progress top loop" max="100"><progress></progress></div> -->
            <h4 class="card-title center"></h4>
            <p class="card-text" style="width: 25% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSourceLine1">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <!-- <div class="progress top loop" max="100"><progress></progress></div> -->
            <h4 class="card-title center"></h4>
            <p class="card-text" style="width: 25% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSourceLine2">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <!-- <div class="progress top loop" max="100"><progress></progress></div> -->
            <h4 class="card-title center"></h4>
            <p class="card-text" style="width: 25% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type2" [dataFormat]="dataFormat" [dataSource]="dataSourceLine3">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <!-- <div class="progress top loop" max="100"><progress></progress></div> -->
            <h4 class="card-title center"></h4>
            <p class="card-text" style="width: 25% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type2" [dataFormat]="dataFormat" [dataSource]="dataSourceLine4">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <!-- <div class="progress top loop" max="100"><progress></progress></div> -->
            <h4 class="card-title center"></h4>
            <p class="card-text" style="width: 25% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type2" [dataFormat]="dataFormat" [dataSource]="dataSourceLine5">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <!-- <div class="progress top loop" max="100"><progress></progress></div> -->
            <h4 class="card-title center"></h4>
            <p class="card-text" style="width: 25% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type2" [dataFormat]="dataFormat" [dataSource]="dataSourceLine6">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <!-- <div class="progress top loop" max="100"><progress></progress></div> -->
            <h4 class="card-title center"></h4>
            <p class="card-text" style="width: 25% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type3" [dataFormat]="dataFormat" [dataSource]="dataSourceLine7">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <!-- <div class="progress top loop" max="100"><progress></progress></div> -->
            <h4 class="card-title center"></h4>
            <p class="card-text" style="width: 25% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSourceLine8">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <!-- <div class="progress top loop" max="100"><progress></progress></div> -->
            <h4 class="card-title center"></h4>
            <p class="card-text" style="width: 25% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="line" [dataFormat]="dataFormat" [dataSource]="dataSourceLine9">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <!-- <div class="progress top loop" max="100"><progress></progress></div> -->
            <h4 class="card-title center"></h4>
            <p class="card-text" style="width: 25% !important;">
              <fusioncharts [width]="width" [height]="height" [type]="line" [dataFormat]="dataFormat" [dataSource]="dataSourceLine10">
              </fusioncharts>
            </p>
          </div>
          <div class="card-footer">
            <div class="cursor-pointer">
              <clr-icon shape="refresh"></clr-icon>
              Reload
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
      <a clrVerticalNavLink routerLink="/dashboard/collection" routerLinkActive="active">Dashboard Collection</a>
      <a clrVerticalNavLink routerLink="/dashboard/marketing" routerLinkActive="active">Dashboard Marketing</a>
      <a clrVerticalNavLink routerLink="/dashboard/recovery" routerLinkActive="active">Dashboard Recovery</a>
      <a clrVerticalNavLink routerLink="/dashboard/proyeksi" routerLinkActive="active">Dashboard Proyeksi</a>
      <a clrVerticalNavLink routerLink="/dashboard/inventory" routerLinkActive="active">Dashboard Inventory</a>
  </clr-vertical-nav>
</div>