<span class="spinner spinner-lg" *ngIf="this.loading">
  Loading...
</span>

<!-- <div *ngIf="!this.loading" class="content-container"> -->
    <div  class="content-container">
  <main class="content-area">

    <!-- <ul>
      <li *ngFor='let s of unitBookingIR'>{{s.data_sekarang}}</li>
    </ul> -->
    <h1 class="center">{{ncabang}}</h1>
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-block">
              <div class="card-text">
                <form class="clr-form clr-form-compact" action="">
                  <div class="row">
                    <div class="row col-md-4" style="text-align: left">
                      <div class="row col-md-12">
                        <!-- <div class="form-group"> -->
                        <div class="col-md-2">
                          <label for="" class="control-label">Bulan</label>
                        </div>
                        <div class="col-md-10" *ngIf="months">
                          <select placeholder="pilih bulan"  name="area2" id="area2" class="form-control" [(ngModel)]="monthe">
                            <option *ngFor="let s of months" [ngValue]="s.value">{{s.name}}</option>
                          </select>
                        </div>
                        <!-- </div> -->
                        <!-- <p>{{monthe}}</p> -->
                      </div>
                    </div>
                    <!-- <div class="row col-md-4" style="text-align: left" hidden={{hide}}>
                        <div class="row col-md-12">
        
                          <div class="col-md-2">
                            <label for="" class="control-label">AREA</label>
                          </div>
                          <div class="col-md-10">
                            <select  name="area" id="area" class="form-control" [(ngModel)]="bran_id">
                              <option  *ngFor="let s of area" [ngValue]="s.branch_code">{{s.branch_name}}</option>
                            </select>
                          </div>
             
                        </div>
                      </div> -->
                    <div class="row col-md-4" style="text-align: left">
                        <div class="row col-md-12">
                          <!-- <div class="form-group"> -->
                          <div class="col-md-2">
                            <label for="" class="control-label">Branch</label>
                          </div>
                          <div class="col-md-10">
                            <select  name="area" id="area" class="form-control" [(ngModel)]="cabang" [disabled]="hide">
                              <option  *ngFor="let s of list_branch" [ngValue]="s.branch_code">{{s.branch_name}}</option>
                            </select>
                          </div>
                          <!-- </div> -->
                        </div>
                      </div>
                  </div>
                  <br>
                  <!-- <div class="row col-md-12">
                    <button type="submit" class="btn btn-default">Proses</button>
                  </div> -->
        
                </form>
                <button type="submit" (click)="onClickSubmit()">Proses</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-block">
              <div class="card-text">
                  <table class="table table-noborder">
                      <thead cellspacing="1">
                        <tr>
                          <th class="center table-header" colspan="6">Unit Booking IR</th>
                          <th class="center table-header" colspan="4">MTD Target {{tableTitle.title1}}</th>
                          <th class="center table-header" colspan="4">MOM</th>
                        </tr>
                      </thead>
                      <tbody >
                        <tr>
                          <td rowspan="2" class="middle-center"></td>
                          <td rowspan="2" class="middle-center">{{tableTitle.title3 | date: "MMM yyyy"}}</td>
                          <td rowspan="2" class="middle-center">{{tableTitle.title2 | date: "MMM yyyy"}}</td>
                          <td rowspan="2" class="middle-center">{{tableTitle.title1 | date: "MMM yyyy"}}</td>
                          <td colspan="2" class="header2">Growth</td>
                          <td rowspan="2" class="middle-center"></td>
                          <td rowspan="2" class="middle-center">Target</td>
                          <td rowspan="2" class="middle-center">Realisasi</td>
                          <td rowspan="2" class="middle-center">Acv %</td>
                          <td rowspan="2" class="middle-center"></td>
                          <td rowspan="2" class="middle-center">{{tableTitle.title4 | date: "MMM yyyy"}}</td>
                          <td rowspan="2" class="middle-center">{{tableTitle.title1 | date: "MMM yyyy"}}</td>
                          <td rowspan="2" class="middle-center">Growth</td>
                          <td rowspan="5" style="vertical-align: bottom">JUTAAN</td>
                        </tr>
                        <tr>
                          <td class="header2">{{tableTitle.title3 | date: "MMM yyyy"}} - {{tableTitle.title2 | date: "MMM yyyy"}}</td>
                          <td class="header2">{{tableTitle.title2 | date: "MMM yyyy"}} - {{tableTitle.title1 | date: "MMM yyyy"}}</td>
                        </tr>
                        <tr>
                          <td class="header2">Unit</td>
                          <td >{{unitBookingIRUnit.data_bulan_kurang_3 |  number:"1.0-0"}}</td>
                          <td >{{unitBookingIRUnit.data_bulan_kurang_2 |  number:"1.0-0"}}</td>
                          <td >{{unitBookingIRUnit.data_sekarang |  number:"1.0-0"}}</td>
                          <td >{{unitBookingIRUnit.growth_2_1}}</td>
                          <td >{{unitBookingIRUnit.growth_3_2}}</td>
                          <td class="middle-center">Unit</td>
                          <td >{{target.target_unit |  number:"1.0-0"}}</td>
                          <td >{{target.target_unit_realisasi |  number:"1.0-0"}}</td>
                          <td >{{target.target_unit_acievment}}</td>
                          <td class="middle-center">Unit</td>
                          <td>{{dataMom.data_unit_thn_lalu |  number:"1.0-0"}}</td>
                          <td>{{dataMom.data_unit_sekarang |  number:"1.0-0"}}</td>
                          <td>{{dataMom.data_unit_growth}}</td>
                        </tr>
                        <tr>
                          <td class="header2">Amount</td>
                          <td >{{unitBookingIRAmount.data_bulan_kurang_3 |  number:"1.0-0"}}</td>
                          <td >{{unitBookingIRAmount.data_bulan_kurang_2 |  number:"1.0-0"}}</td>
                          <td >{{unitBookingIRAmount.data_sekarang |  number:"1.0-0"}}</td>
                          <td >{{unitBookingIRAmount.growth_2_1}}</td>
                          <td >{{unitBookingIRAmount.growth_3_2}}</td>
                          <td class="middle-center">Amount</td>
                          <td >{{target.target_amount | number:"1.0-0"}}</td>
                          <td >{{target.target_amount_realisasi | number:"1.0-0"}}</td>
                          <td >{{target.target_amount_acievment}}</td>
                          <td class="middle-center">Amount</td>
                          <td>{{dataMom.data_amount_thn_lalu | number:"1.0-0"}}</td>
                          <td>{{dataMom.data_amount_sekarang | number:"1.0-0"}}</td>
                          <td>{{dataMom.data_amount_growth}}</td>
                        </tr>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="center table-header" colspan="6">Average Booking IR/ Day</th>
                          <th class="center table-header" colspan="4">YTD Target Jan - {{tableTitle.title1 | date: "MMM yyyy"}}</th>
                          <th class="center table-header" colspan="4">YOY</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td rowspan="2" class="middle-center"></td>
                          <td rowspan="2" class="middle-center">{{tableTitle.title3 | date: "MMM yyyy"}} ({{tableTitle.workday3}})</td>
                          <td rowspan="2" class="middle-center">{{tableTitle.title2 | date: "MMM yyyy"}} ({{tableTitle.workday2}})</td>
                          <td rowspan="2" class="middle-center">{{tableTitle.title1 | date: "MMM yyyy"}} ({{tableTitle.workday1}})</td>
                          <td colspan="2" class="header2">Growth</td>
                          <td rowspan="2" class="middle-center"></td>
                          <td rowspan="2" class="middle-center">Target</td>
                          <td rowspan="2" class="middle-center">Realisasi</td>
                          <td rowspan="2" class="middle-center">Acv %</td>
                          <td rowspan="2" class="middle-center"></td>
                          <td rowspan="2" class="middle-center">{{tableTitle.title4 | date: "MMM yyyy"}}</td>
                          <td rowspan="2" class="middle-center">{{tableTitle.title1 | date: "MMM yyyy"}}</td>
                          <td rowspan="2" class="middle-center">Growth</td>
                        </tr>
                        <tr>
                          <td class="header2">{{tableTitle.title3 | date: "MMM yyyy"}} - {{tableTitle.title2 | date: "MMM yyyy"}}</td>
                          <td class="header2">{{tableTitle.title2 | date: "MMM yyyy"}} - {{tableTitle.title1 | date: "MMM yyyy"}}</td>
                        </tr>
                        <tr>
                          <td class="header2">AVG Unit</td>
                          <td >{{dataAvg.avg_unit3 | number:"1.0-0"}}</td>
                          <td >{{dataAvg.avg_unit2 | number:"1.0-0"}}</td>
                          <td >{{dataAvg.avg_unit1| number:"1.0-0"}}</td>
                          <td >{{this.dataAvg.avg_growth_unit2_1}}%</td>
                          <td >{{this.dataAvg.avg_growth_unit3_2}}%</td>
                          <td class="header2">Unit</td>
                          <td >{{dataYtdTarget.ytd_unit_target | number:"1.0-0"}}</td>
                          <td >{{dataYtdTarget.ytd_unit_realisasi | number:"1.0-0"}}</td>
                          <td >{{dataYtdTarget.ytd_unit_acievment}}</td>
                          <td class="header2">Unit</td>
                          <td >{{dataYoy.unit_tahun_lalu}}</td>
                          <td >{{dataYoy.unit_sekarang}}</td>
                          <td >{{dataYoy.unit_growth}}</td>
                        </tr>
                        <tr>
                          <td class="middle-center">AVG Amount</td>
                          <td >{{dataAvg.avg_amount3 | number: "1.0-0"}}</td>
                          <td >{{dataAvg.avg_amount2 | number: "1.0-0"}}</td>
                          <td >{{dataAvg.avg_amount1 | number: "1.0-0"}}</td>
                          <td >{{dataAvg.avg_growth_amount2_1}}%</td>
                          <td >{{dataAvg.avg_growth_amount3_2}}%</td>
                          <td class="middle-center">Amount</td>
                          <td >{{dataYtdTarget.ytd_amount_target | number: "1.0-0"}}</td>
                          <td >{{dataYtdTarget.ytd_amount_realisasi | number: "1.0-0"}}</td>
                          <td >{{dataYtdTarget.ytd_amount_acievment}}</td>
                          <td class="middle-center">Amount</td>
                          <td>{{dataYoy.amount_tahun_lalu | number:"1.0-0"}}</td>
                          <td>{{dataYoy.amout_sekarang | number:"1.0-0"}}</td>
                          <td>{{dataYoy.amount_growth}}</td>
                        </tr>
                      </tbody>
                    </table>
    
                

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-block">
              <div class="card-text">
                <table class="table table-compact table-noborder col-lg-12">
                  <thead>
                    <tr>
                      <th class="center table-header" colspan="6">Actual</th>
                      <th colspan="2" class="middle-center">&nbsp;</th>
                      <th class="center table-header" colspan="6">Proyeksi</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td rowspan="2" class="middle-center">IN AMOUNT</td>
                      <td rowspan="2" class="middle-center">{{tableTitle.title3 | date: "MMM yyyy"}} ({{tableTitle.workday3}})</td>
                      <td rowspan="2" class="middle-center">{{tableTitle.title2 | date: "MMM yyyy"}} ({{tableTitle.workday2}})</td>
                      <td rowspan="2" class="middle-center">{{tableTitle.title1 | date: "MMM yyyy"}} ({{tableTitle.workday1}})</td>
                      <td colspan="2" class="middle-center">Diff</td>
                      <td class="middle-center" rowspan="2">Target</td>
                      <td class="middle-center" rowspan="2">Realisasi</td>
                      <td rowspan="2" class="middle-center">IN AMOUNT</td>
                      <td rowspan="2" class="middle-center">{{tableTitle.title3 | date: "MMM yyyy"}} ({{tableTitle.workday3}})</td>
                      <td rowspan="2" class="middle-center">{{tableTitle.title2 | date: "MMM yyyy"}} ({{tableTitle.workday2}})</td>
                      <td rowspan="2" class="middle-center">{{tableTitle.title1 | date: "MMM yyyy"}} ({{tableTitle.workday1}})</td>
                      <td colspan="2" class="middle-center">Diff</td>
                    </tr>
                    <tr>
                      <td class="middle-center">{{tableTitle.title1 | date: "MMM yyyy"}} - {{tableTitle.title2 | date: "MMM yyyy"}}</td>
                      <td class="middle-center">{{tableTitle.title1 | date: "MMM yyyy"}} - {{tableTitle.title3 | date: "MMM yyyy"}}</td>
                      <td class="middle-center">{{tableTitle.title1 | date: "MMM yyyy"}} - {{tableTitle.title2 | date: "MMM yyyy"}}</td>
                      <td class="middle-center">{{tableTitle.title1 | date: "MMM yyyy"}} - {{tableTitle.title3 | date: "MMM yyyy"}}</td>
                    </tr>
                    <tr>
                      <td class="header2">FPD</td>
                      <td>{{dataAct.fpd_dbl}}%</td>
                      <td>{{dataAct.fpd_bl}}%</td>
                      <td>{{dataAct.fpd_bs}}%</td>
                      <td>{{dataAct.fpd_diff1}}%</td>
                      <td>{{dataAct.fpd_diff2}}%</td>
                      <td>{{dataActTarget.fpd_target}}%</td>
                      <td>{{dataActTarget.fpd_realisasi}}%</td>
                      <td class="header2">FPD</td>
                      <td>{{dataPro.fpd_dbl}}%</td>
                      <td>{{dataPro.fpd_bl}}%</td>
                      <td>{{dataPro.fpd_bs}}%</td>
                      <td>{{dataPro.fpd_diff1}}%</td>
                      <td>{{dataPro.fpd_diff2}}%</td>
                    </tr>
                    <tr>
                      <td class="header2">F3PD</td>
                      <td>{{dataAct.f3pd_dbl}}%</td>
                      <td>{{dataAct.f3pd_bl}}%</td>
                      <td>{{dataAct.f3pd_bs}}%</td>
                      <td>{{dataAct.f3pd_diff1}}%</td>
                      <td>{{dataAct.f3pd_diff2}}%</td>
                      <td>{{dataActTarget.f3pd_target}}%</td>
                      <td>{{dataActTarget.f3pd_realisasi}}%</td>
                      <td class="header2">F3PD</td>
                      <td>{{dataPro.f3pd_dbl}}%</td>
                      <td>{{dataPro.f3pd_bl}}%</td>
                      <td>{{dataPro.f3pd_bs}}%</td>
                      <td>{{dataPro.f3pd_diff1}}%</td>
                      <td>{{dataPro.f3pd_diff2}}%</td>
                    </tr>
                    <tr>
                      <td class="header2">30+@6MOB</td>
                      <td >{{dataAct.mob_dbl}}%</td>
                      <td >{{dataAct.mob_bl}}%</td>
                      <td >{{dataAct.mob_bs}}%</td>
                      <td >{{dataAct.mob_diff1}}%</td>
                      <td >{{dataAct.mob_diff2}}%</td>
                      <td>{{dataActTarget.mob_target}}%</td>
                      <td>{{dataActTarget.mob_realisasi}}%</td>
                      <td class="header2">30+@6MOB</td>
                      <td >{{dataPro.mob_dbl}}%</td>
                      <td >{{dataPro.mob_bl}}%</td>
                      <td >{{dataPro.mob_bs}}%</td>
                      <td >{{dataPro.mob_diff1}}%</td>
                      <td >{{dataPro.mob_diff2}}%</td>
                    </tr>
                    <tr>
                      <td class="header2">FID9</td>
                      <td >{{dataAct.fid_dbl}}%</td>
                      <td >{{dataAct.fid_bl}}%</td>
                      <td >{{dataAct.fid_bs}}%</td>
                      <td >{{dataAct.fid_diff1}}%</td>
                      <td >{{dataAct.fid_diff2}}%</td>
                      <td>{{dataActTarget.fid_target}}%</td>
                      <td>{{dataActTarget.fid_realisasi}}%</td>
                      <td class="header2">FID9</td>
                      <td >{{dataPro.fid_dbl}}%</td>
                      <td >{{dataPro.fid_bl}}%</td>
                      <td >{{dataPro.fid_bs}}%</td>
                      <td >{{dataPro.fid_diff1}}%</td>
                      <td >{{dataPro.fid_diff2}}%</td>
                    </tr>
                  </tbody>
                </table>
                
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="card">
            <div class="card-block">
              <div class="card-text">

                <table class="table table-compact table-noborder col-lg-6">
                  <thead>
                    <tr>
                      <th class="center table-header" colspan="7">UNIT</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td rowspan="2" class="middle-center">PORTOFOLIO</td>
                      <td colspan="3" class="middle-center">{{tableTitle.title2 | date: "MMM_yy"}}</td>
                      <td colspan="3" class="middle-center">{{tableTitle.title1 | date:"MMM_yy"}}</td>
                    </tr>
                    <tr>
                      <td class="middle-center">OI</td>
                      <td class="middle-center">PO</td>
                      <td class="middle-center">PPD</td>
                      <td class="middle-center">OI</td>
                      <td class="middle-center">PO</td>
                      <td class="middle-center">PPD</td>
                    </tr>
                    <tr *ngFor="let s of unit"  >
                      <td>{{s.portfolio_code}}</td>
                      <td>{{s.oi}}</td>
                      <td>{{s.po}}</td>
                      <td>{{s.ppd}}</td>
                      <td>{{s.oi_now}}</td>
                      <td>{{s.po_now}}</td>
                      <td>{{s.ppd_now}}</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr *ngFor="let n of totalUnitByPortofolio" class="middle-center">
                      <td>{{n.portfolio_code}}</td>
                      <td>{{n.oi}}</td>
                      <td>{{n.po}}</td>
                      <td>{{n.ppd}}</td>
                      <td>{{n.oi_now}}</td>
                      <td>{{n.po_now}}</td>
                      <td>{{n.ppd_now}}</td>
                    </tr>
                  </tfoot>
                </table>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-block">
              <div class="card-text">

                <table class="table table-compact table-noborder col-lg-6">
                  <thead>
                    <tr>
                      <th class="center table-header" colspan="7">AMOUNT</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="3" class="middle-center">{{tableTitle.title2 | date: "MMM_yy"}}</td>
                      <td colspan="3" class="middle-center">{{tableTitle.title1 | date:"MMM_yy"}}</td>
                    </tr>
                    <tr>
                      <td class="middle-center">OI</td>
                      <td class="middle-center">PO</td>
                      <td class="middle-center">PPD</td>
                      <td class="middle-center">OI</td>
                      <td class="middle-center">PO</td>
                      <td class="middle-center">PPD</td>
                    </tr>
                    <tr *ngFor="let s of amount">
                      <td>{{s.oi | number}}</td>
                      <td>{{s.po | number}}</td>
                      <td>{{s.ppd | number}}</td>
                      <td>{{s.oi_now | number}}</td>
                      <td>{{s.po_now | number}}</td>
                      <td>{{s.ppd_now | number}}</td>
                  </tbody>
                  <tfoot>
                    <tr *ngFor="let n of totalAmountByPortofolio" class="middle-center">
                      <td>{{n.oi | number}}</td>
                      <td>{{n.po | number}}</td>
                      <td>{{n.ppd | number}}</td>
                      <td>{{n.oi_now | number}}</td>
                      <td>{{n.po_now | number}}</td>
                      <td>{{n.ppd_now | number}}</td>
                    </tr>
                  </tfoot>
                </table>

              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-block">
              <div class="card-text">

                <table class="table table-nobordered">
                  <thead>
                    <tr>
                      <th class="center row1" colspan="2">ACTUAL IN UNIT</th>
                      <th class="center row1" colspan="3">FPD</th>
                      <th class="center row2" colspan="3">F3PD</th>
                      <th class="center row3" colspan="3">FID</th>
                      <th class="center row4" colspan="3">30+@6MOB</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="column1" colspan="2">PORTFOLIO</td>
                      <td class="column1">{{tableTitle.title3 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title2 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title1 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title3 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title2 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title1 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title3 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title2 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title1 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title3 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title2 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title1 | date: "MMM_yy"}}</td>
                    </tr>
                    
                    
                    <tr *ngFor="let s of actualUnit">
                      <td class="text-left" colspan="2">{{s.portfolio_code}}</td>
                      <td>{{s.dbl_FPD}}%</td>
                      <td>{{s.bl_FPD}}%</td>
                      <td>{{s.bs_FPD}}%</td>
                      <td>{{s.dbl_F3PD}}%</td>
                      <td>{{s.bl_F3PD}}%</td>
                      <td>{{s.bs_F3PD}}%</td>
                      <td>{{s.dbl_FID}}%</td>
                      <td>{{s.bl_FID}}%</td>
                      <td>{{s.bs_FID}}%</td>
                      <td>{{s.dbl_30MOB6}}%</td>
                      <td>{{s.bl_30MOB6}}%</td>
                      <td>{{s.bs_30MOB6}}%</td>
                    </tr>
                  </tbody>
                    <tfoot>
                    <tr *ngFor="let s of totalActualInUnit">
                      <td class="column1 text-left" colspan="2">TOTAL</td>
                      <td class="column1">{{s.dbl_FPD}}%</td>
                      <td class="column1">{{s.bl_FPD}}%</td>
                      <td class="column1">{{s.bs_FPD}}%</td>
                      <td class="column1">{{s.dbl_F3PD}}%</td>
                      <td class="column1">{{s.bl_F3PD}}%</td>
                      <td class="column1">{{s.bs_F3PD}}%</td>
                      <td class="column1">{{s.dbl_FID}}%</td>
                      <td class="column1">{{s.bl_FID}}%</td>
                      <td class="column1">{{s.bs_FID}}%</td>
                      <td class="column1">{{s.dbl_30MOB6}}%</td>
                      <td class="column1">{{s.bl_30MOB6}}%</td>
                      <td class="column1">{{s.bs_30MOB6}}%</td>
                    </tr>
                  </tfoot>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-block">
              <div class="card-text">

                <table class="table table-nobordered">
                  <thead>
                    <tr>
                      <th class="center row1">ACTUAL IN A MOUNT</th>
                      <th class="center row1" colspan="3">FPD</th>
                      <th class="center row2" colspan="3">F3PD</th>
                      <th class="center row3" colspan="3">FID</th>
                      <th class="center row4" colspan="3">30+@6MOB</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="column1">PORTFOLIO</td>
                      <td class="column1">{{tableTitle.title3 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title2 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title1 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title3 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title2 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title1 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title3 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title2 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title1 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title3 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title2 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title1 | date: "MMM_yy"}}</td>
                    </tr>
                    <tr *ngFor="let s of actualAmount">
                      <td class="text-left">{{s.portfolio_code}}</td>
                      <td>{{s.dbl_FPD}}%</td>
                      <td>{{s.bl_FPD}}%</td>
                      <td>{{s.bs_FPD}}%</td>
                      <td>{{s.dbl_F3PD}}%</td>
                      <td>{{s.bl_F3PD}}%</td>
                      <td>{{s.bs_F3PD}}%</td>
                      <td>{{s.dbl_FID}}%</td>
                      <td>{{s.bl_FID}}%</td>
                      <td>{{s.bs_FID}}%</td>
                      <td>{{s.dbl_30MOB6}}%</td>
                      <td>{{s.bl_30MOB6}}%</td>
                      <td>{{s.bs_30MOB6}}%</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr *ngFor="let s of totalActualInAmount">
                      <td class="column1 text-left">TOTAL</td>
                      <td class="column1">{{s.dbl_FPD}}%</td>
                      <td class="column1">{{s.bl_FPD}}%</td>
                      <td class="column1">{{s.bs_FPD}}%</td>
                      <td class="column1">{{s.dbl_F3PD}}%</td>
                      <td class="column1">{{s.bl_F3PD}}%</td>
                      <td class="column1">{{s.bs_F3PD}}%</td>
                      <td class="column1">{{s.dbl_FID}}%</td>
                      <td class="column1">{{s.bl_FID}}%</td>
                      <td class="column1">{{s.bs_FID}}%</td>
                      <td class="column1">{{s.dbl_30MOB6}}%</td>
                      <td class="column1">{{s.bl_30MOB6}}%</td>
                      <td class="column1">{{s.bs_30MOB6}}%</td>
                    </tr>
                    </tfoot>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-block">
              <div class="card-text">

                <table class="table table-nobordered">
                  <thead>
                    <tr>
                      <th class="center row1">PROYEKSI IN A MOUNT</th>
                      <th class="center row1" colspan="3">FPD</th>
                      <th class="center row2" colspan="3">F3PD</th>
                      <th class="center row3" colspan="3">FID</th>
                      <th class="center row4" colspan="3">30+@6MOB</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="column1">PORTFOLIO</td>
                      <td class="column1">{{tableTitle.title3 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title2 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title1 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title3 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title2 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title1 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title3 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title2 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title1 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title3 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title2 | date: "MMM_yy"}}</td>
                      <td class="column1">{{tableTitle.title1 | date: "MMM_yy"}}</td>
                    </tr>
                    <tr *ngFor="let s of actualAmount">
                      <td class="text-left">{{s.portfolio_code}}</td>
                      <td>{{s.dbl_FPD}}%</td>
                      <td>{{s.bl_FPD}}%</td>
                      <td>{{s.bs_FPD}}%</td>
                      <td>{{s.dbl_F3PD}}%</td>
                      <td>{{s.bl_F3PD}}%</td>
                      <td>{{s.bs_F3PD}}%</td>
                      <td>{{s.dbl_FID}}%</td>
                      <td>{{s.bl_FID}}%</td>
                      <td>{{s.bs_FID}}%</td>
                      <td>{{s.dbl_30MOB6}}%</td>
                      <td>{{s.bl_30MOB6}}%</td>
                      <td>{{s.bs_30MOB6}}%</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr *ngFor="let s of totalActualInAmount">
                      <td class="column1 text-left">TOTAL</td>
                      <td class="column1">{{s.dbl_FPD}}%</td>
                      <td class="column1">{{s.bl_FPD}}%</td>
                      <td class="column1">{{s.bs_FPD}}%</td>
                      <td class="column1">{{s.dbl_F3PD}}%</td>
                      <td class="column1">{{s.bl_F3PD}}%</td>
                      <td class="column1">{{s.bs_F3PD}}%</td>
                      <td class="column1">{{s.dbl_FID}}%</td>
                      <td class="column1">{{s.bl_FID}}%</td>
                      <td class="column1">{{s.bs_FID}}%</td>
                      <td class="column1">{{s.dbl_30MOB6}}%</td>
                      <td class="column1">{{s.bl_30MOB6}}%</td>
                      <td class="column1">{{s.bs_30MOB6}}%</td>
                    </tr>
                    </tfoot>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </main>
  <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
  </clr-vertical-nav>
</div>